################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdaaMobile/AdaaMobile/AdaaMobile/bin/Debug
/AdaaMobile/AdaaMobile/AdaaMobile/obj/Debug
/AdaaMobile/AdaaMobile/AdaaMobile.Droid/bin/Debug
/AdaaMobile/AdaaMobile/AdaaMobile.Droid/obj/Debug
*.user
/AdaaMobile/AdaaMobile/AdaaMobile.iOS/obj/iPhone/Debug
/AdaaMobile/AdaaMobile/AdaaMobile.iOS/obj/iPhoneSimulator/Debug
/AdaaMobile/AdaaMobile/AdaaMobile.WinPhone/Bin/Debug
/AdaaMobile/AdaaMobile/AdaaMobile.WinPhone/obj/Debug
*.suo
/AdaaMobile/packages/WPtoolkit.4.2013.08.16
/AdaaMobile/packages
/AdaaMobile/AdaaMobile/AdaaMobile/bin/Release
/AdaaMobile/AdaaMobile/AdaaMobile/obj/Release
/AdaaMobile/AdaaMobile/AdaaMobile.Droid/bin/Release
/AdaaMobile/AdaaMobile/AdaaMobile.Droid/obj/Release
/AdaaMobile/AdaaMobile/AdaaMobile.WinPhone/Bin/Release
/AdaaMobile/AdaaMobile/AdaaMobile.iOS/obj/iPhone/Release
/AdaaMobile/AdaaMobile/AdaaMobile.iOS/obj/iPhoneSimulator/Release
/AdaaMobile/AdaaMobile/AdaaMobile.WinPhone/obj/Release
/AdaaMobile/AdaaMobile/AdaaMobile.WinPhone/obj/x86/Debug
/AdaaMobile/AdaaMobile/AdaaMobile.WinPhone/obj/x86/Release
/AdaaMobile/AdaaMobile/AdaaMobile.WinPhone/Bin/x86/Release
*.bak
/AdaaMobile/AdaaMobile/AdaaMobile.iOS/obj/iPhone/Ad-Hoc
/AdaaMobile/AdaaMobile/AdaaMobile.WinPhone/obj/ARM/Release
*.userprefs
