<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.adaa.AdaaMobile</string>
	<key>CFBundleVersion</key>
	<string>1.0.24</string>
	<key>CFBundleName</key>
	<string>ADAA</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.24</string>
	<key>UIAppFonts</key>
	<array>
		<string>ProximaNova-Regular.otf</string>
		<string>ProximaNova-Semibold.otf</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>Black</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>ADAA</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Images.xcassets/LaunchImage.launchimage</string>
</dict>
</plist>
